# KDevelop
*.kdev4

# Autotools
/autom4te.cache
/stamp-h1
CMakeFiles
data
CMakeCache.txt
cmake_install.cmake
fit.log
install_manifest.txt
make_install.log*
src/cmake_install.cmake
src/battery-graph
Makefile
/config.status
/config.log
/config.h
/aclocal.m4
Makefile.in
/config/
/config.h.in
/configure
.deps

# General
*.orig
*~
/build*/

# from git merge
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
